* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#scroller {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

#scroller section {
    scroll-snap-align: start;
    height: 100%;
    font-size: 30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25vh;
}

#scroller section h3 {
    font-size: 7vw;
}

#scroller section h5 {
    font-size: 3vw;
}

#menu {
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 60px;
}

#menu > button {
    aspect-ratio: 1/1;
    border-radius: 99999px;
    background-color: transparent;
    border-color: transparent;
    user-select: none;
}


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    font-size: 5vh !important;
}

#modal {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 30px;
    display: none;
    z-index: 20;
    background-color: lightgrey;
}

#modal > * {
    font-size: 4vh;
}

#stats {
    z-index: 30;
    background-color: lightgrey;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    padding-right: 3cm;
}

#stats > p {
    font-size: 5vh;
    user-select: none;
    margin: 14px;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

/* mobile */
@media only screen and (max-width: 600px) {
    #desktop-warn {
        display: none;
    }
}

/* desktop */
@media only screen and not (max-width: 600px) {
    #desktop-warn {
        height: 100%;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        background-color: white;
        z-index: 999;
    }
}
