@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    touch-action: manipulation;
}

body {
    -ms-overflow-style: none;
    background-color: #f8fafc;
    color: #023047;
    accent-color: #82d0cc;
    font-family: "Segoe UI";
}

body::backdrop { /* for fullscreen */
    background-color: #f8fafc;
}

button.icon {
    aspect-ratio: 1/1;
    border-radius: 99999px;
    background-color: transparent;
    border-color: transparent;
    user-select: none;
    color: #023047;
}

button:hover {
    cursor: pointer;
}

button:not(.icon) {
    padding: 5px 10px;
    border: 2px solid #023047;
    border-radius: 9999px;
    background-color: transparent;
    margin: 4px;
    font-size: 20px;
}

button:not(.icon):hover {
    color: white;
    background-color: #023047;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    font-size: 5vh !important;
}

.blue {
    color: #7F74DF;
}

.red {
    color: #ff4221;
}

.redder {
    color: white;
    background-color: red;
}

.small {
    font-size: 0.6em;
}
